.menu {
    display: flex;
    justify-content: space-between;
    /* Distribui espaço entre os itens */
    align-items: center;
    background-color: rgba(57, 62, 70, 0.5);
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    /* Ocupa 90% da tela */
    max-width: 1000px;
    /* Limita o tamanho máximo da barra */
    margin: 80px auto;
    /* Centraliza horizontalmente */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 40px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 9px 20px;
    margin-right: 10px;
    background-color: rgba(57, 62, 70, 0.5);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-box {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #444;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.menu-box i {
    margin-right: 8px;
}


.menu-item span {
    font-size: 16px;

}

.menu-item:hover {
    background-color: #FFD369;
    color: #fff;
}

.highlighted {
    font-size: 16px;
    font-weight: 600;
    background-color: #FFD369;
    color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.icon {
    font-size: 24px;
    margin-right: 8px;
}

.menu-text {
    font-size: 16px;
}

.notification {
    position: relative;
}

.notification-badge {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}


.margin_auto {
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* Faz com que a div ocupe o espaço restante e fique centralizada */
}

.active {
    background-color: #fff;
    color: #ffdd57;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.active:hover {
    background-color: #fff;
    color: #ffdd57;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* ------------------------------------------------------- */

.container {
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(57, 62, 70, 0.5);
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
    color: #FFD369;
    margin-bottom: 10px;
    font-size: 24px;
}

.subtitle {
    margin-bottom: 40px;
    font-size: 14px;
    color: #fff;
}

.filter-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background-color: #ffd54f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.input-group {
    display: flex;
    flex-direction: column;
    position: relative;

}

.input-group input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 130px;
}

.icon-input {
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 0px;
    color: #333;
}

.btn {
    display: flex;
    margin-left: auto;
    align-items: center;
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

.case {
    margin-left: auto;
}

.btn i {
    margin-right: 8px;
}

.export-btn {
    background-color: #1e88e5;
}

.cards {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card i {
    font-size: 40px;
    margin-bottom: 10px;
}

.receivable {
    background-color: #388e3c;
}

.payable {
    background-color: #fbc02d;
}

.revenue-expense {
    background-color: #e53935;
}

.received-paid {
    background-color: #43a047;
}

.amount {
    font-size: 24px;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}

.view-details {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.view-details i {
    margin-left: 5px;
    display: flex;
    font-size: 0px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    cursor: pointer;
}