.container {
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgba(57, 62, 70, 0.5);
    padding: 25px;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.container-extend {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(57, 62, 70, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.container-notFound {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(57, 62, 70, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.header button,
.header input[type="search"],
.header .total {
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 1em;
    border: none;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
}

.header button {
    color: var(--text-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .color {
    background-color: var(--main-color);
}

.header input[type="search"] {
    width: 200%;
    background-color: var(--text-color);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header .total {
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    display: flex;
    align-items: center;
}

.search-button {
    background-color: #007bff;
    color: white;
    margin-left: -15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header .search-area {
    display: flex;
    align-items: center;
}

/* Customer Registration */

h1 {
    font-size: 1.8em;
    color: #f0f0f0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

h1::before {
    font-size: 1.5em;
    margin-right: 10px;
}

.assistant h2 {
    margin-top: 40px;
    font-size: 1.2em;
    color: #f0f0f0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.assistant h2::before {
    font-size: 1.5em;
    margin-right: 10px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.2em;
    color: #f0f0f0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.section h2::before {
    content: "\1F4CA";
    font-size: 1.5em;
    margin-right: 10px;
}

.section#address h2::before {
    content: "\1F4CD";
    /* Ícone de endereço */
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-group div {
    flex: 1;
    min-width: 180px;
}

label {
    font-size: 0.9em;
    color: #f0f0f0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}


input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--text-color);
    border: none;
    border-radius: 5px;
    color: var(--slidebar-color);
    font-size: 1em;
}

#searchBar:focus {
    color: #393E46;
    /* Mude para a cor desejada */
}

input:focus {
    color: #393E46;
    /* Define a cor do texto padrão */
}


button[type="submit"] {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"] i {
    margin-right: 5px;
}

/* Adiciona espaçamento entre o ícone e o texto */
.header i {
    margin-right: 8px;
    /* Ajuste o valor de acordo com o espaçamento desejado */
}

.assistant .form-group i {
    color: var(--main-color);
    margin-right: 8px;
    margin-left: 0px;
    font-size: 16px;
}

.assistant i {
    color: var(--text-color);
    margin-right: 12px;
    margin-left: 3px;
    font-size: 32px;
}


.button-container {
    display: flex;
    gap: 25px;
}

.save {
    margin-right: 328px;
}

.save button {
    width: 100%;
    padding: 10px 68px;
}

.edit button {
    background-color: orangered;
    padding: 10px 70px;
    width: 100%;
}

.edit button[type="submit"]:hover {
    background-color: orange;
}

.delete button[type="submit"] {
    background-color: red;
    padding: 10px 60px;
    width: 100%;
}

.delete button[type="submit"]:hover {
    background-color: crimson;
}

.text-background h2 {
    color: var(--main-color);
}

.text-background h1 {
    color: var(--main-color);
}

.text-background h1 i {
    margin-right: 12px;
}

