{% extends 'temp3.html' %}

{% block conteudo %}

<div class="container-extend container-feedback">
    <div class="feedback-registration">
        <h2><i class="ri-store-2-line"></i> feedback Registration</h2>
        <div class="form-container">
            <!-- <div class="upload-section"> -->
            <!-- <div class="upload-box"> -->
            <!-- Imagem que será exibida após o upload -->
            <!-- <img id="preview-image" src="" alt="Preview Image" style="display: none;"> -->
            <!-- <label for="file-upload" class="file-label"> -->
            <!-- <i class="ri-upload-2-fill" id="upload-icon"></i> -->
            <!-- <span id="upload-text">Upload Image</span> -->
            <!-- </label> -->
            <!-- <input type="file" id="file-upload" accept="image/*" /> -->
            <!-- Botão para remover a imagem -->
            <!-- <button id="remove-image" class="remove-btn" style="display: none;">Remover Imagem</button> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="input-section"> -->
            <!-- Formulário -->
            <form id="feedback-form" form action="#" method="post">
                
                <!-- Botão de envio dentro do formulário -->
                <button type="submit" class="save-btn"><i class="ri-save-3-line"></i> Save</button>
            </form>
            <!-- </div> -->
        </div>
    </div>
</div>

{% endblock %}