<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Definindo a codificação de caracteres para UTF-8 -->
    <meta charset="UTF-8">
    <!-- Configurando a visualização para dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon para a aba do navegador -->
    <link rel="shortcut icon" href="static/img/exchange-line.ico" type="image/x-icon">
    <title>StoreSync</title>

    <!-- Incluindo a folha de estilos principal -->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Fontes e ícones usados na página -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Barra lateral fixa -->
    <div class="sidebar">
        <div class="top">
            <!-- Ícone de menu para expandir/recolher a barra lateral -->
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <!-- Menu da barra lateral -->
        <ul>
            <li>
                <a>
                    <!-- Ícone do item Register -->
                    <i class='bx bxs-user'></i>
                    <!-- Texto do item -->
                    <span class="nav-item">Register</span>
                </a>
                <!-- Tooltip ao passar o mouse sobre o item -->
                <span class="tooltip">Register</span>
            </li>
            <li>
                <a>
                    <i class="ri-shopping-cart-line"></i>
                    <span class="nav-item">Sales</span>
                </a>
                <span class="tooltip">Sales</span>
            </li>
            <li>
                <a>
                    <i class="ri-bar-chart-fill"></i>
                    <span class="nav-item">Graphics</span>
                </a>
                <span class="tooltip">Graphics</span>
            </li>
            <li>
                <a>
                    <i class="ri-money-dollar-box-line"></i>
                    <span class="nav-item">Payment</span>
                </a>
                <span class="tooltip">Payment</span>
            </li>
            <li>
                <a>
                    <i class="ri-chat-check-fill"></i>
                    <span class="nav-item">Feedback</span>
                </a>
                <span class="tooltip">Feedback</span>
            </li>
        </ul>
    </div>

    <!-- Conteúdo principal da página -->
    <div class="main-content background-img">
        <header>
            <!-- Logo do site, que inclui um ícone e um texto -->
            <a href="/" class="logo">
                <!-- Ícone da casa (representando o logo) -->
                <i class="ri-exchange-line"></i>
                <!-- Texto do logo -->
                <span>StoreSync</span>
            </a>

            <!-- Menu de navegação -->
            <ul class="navbar">
                <!-- Link para a página "Home", com classe "active" indicando que é a página atual -->
                <li><a href="#description">Description</a></li>
                <!-- Link para a página "About Us" -->
                <li><a href="#features">Features</a></li>
                <!-- Link para a página "Services" -->
                <li><a href="#members">Members</a></li>
            </ul>

            <!-- Seção de login/registro -->
            <div class="main">
                <!-- Link para a página de login, com ícone de usuário -->
                <a href="login" class="user">
                    <i class="ri-user-fill"></i>
                    <span>Sign In</span>
                </a>
            </div>
        </header>


        <!-- Contêiner principal para o conteúdo da página -->
        <div class="container">
            <section id="description" class="intro main-bg section">
                <div class="main-cont intro-content">
                    <div class="intro-text-content">
                        <h2>Description</h2>
                        <p>The project aims to develop financial management software for stores, facilitating the
                            monitoring of debts, profits, sales, and customers. It includes features such as payment
                            scheduling, graph generation, social media integration, loyalty program control, and
                            customer feedback.</p>
                    </div>
                    <div class="intro-img">
                        <img src="static/img/finance.svg" alt="Logo de HTML, CSS e JS.">
                    </div>
                </div>
            </section>


            <section id="features" class="white-bg section">
                <div class="main-cont top3-content">
                    <h2>MAIN FUNCTIONALITIES OF THE PROJECT</h2>
                    <p>Client Registration: Allows creating, viewing, editing, and deleting clients with forms, APIs,
                        and notifications, including pagination and filters.</p>
                    <p>Sales Management: Provides sales recording, viewing, editing, and deletion with dedicated APIs,
                        notifications, and filtering options.</p>
                    <p>Graph Generation: Creates interactive graphs for sales and profits, with filtering and data
                        export options, using an API for aggregated data.</p>
                    <p>Payment Dates Management: Includes event scheduling, integration with payment systems, and cash
                        monitoring, with financial reports and notifications.</p>
                    <p>Feedback Management: Collects and manages client feedback, linking it to each client, with
                        notifications and options to export responses.</p>

                </div>
            </section>

            <section id="members" class="intro main-bg section">
                <div class="main-cont intro-content">
                    <div class="intro-text-content">
                        <div class="title-space">
                            <h2>Members</h2>
                        </div>
                        <div class="space">
                            <p> Gabriel Castro: Backend and Tester</p>
                            <p>Carlos Gabriel: Backend and Database</p>
                            <p>Henrique Guimarães: Backend and Tester</p>
                            <p>Patrick Peres: Frontend</p>
                            <p>Luan: Full-Stack</p>
                            <p>Luan: Backend and Databases</p>
                        </div>
                    </div>
                    <div class="intro-img">
                        <img src="../static/img/developer.svg" alt="Logo de HTML, CSS e JS.">
                    </div>
                </div>
            </section>


        </div>
    </div>

    <!-- Script JavaScript principal -->
    <script src="static/js/script.js"></script>

    

</body>

</html>