<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessar StoreSync</title>

    <link rel="shortcut icon" href="static/img/exchange-line.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/login.css">

    <!-- Fontes e ícones usados na página -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <form id="loginForm" action="{{ url_for('login') }}" method="POST">
            <h1>Sign In</h1>
            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button type="submit" class="btn">Login</button>
        </form>

        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert-message block-message error">
            <ul class="flashes">
                {%- for category, message in messages %}
                <li>{{ message }}</li>
                {% endfor -%}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <script src="static/js/script.js"></script>
</body>

</html>