<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Definindo a codificação de caracteres para UTF-8 -->
    <meta charset="UTF-8">
    <!-- Configurando a visualização para dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon para a aba do navegador -->
    <link rel="shortcut icon" href="static/img/exchange-line.ico" type="image/x-icon">
    <title>StoreSync</title>

    <!-- Incluindo a folha de estilos principal -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/graphics.css">
    <link rel="stylesheet" href="../static/css/payment.css">

    <!-- Fontes e ícones usados na página -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>

<body class="background-img">

    <!-- Barra lateral fixa -->
    <div class="sidebar">
        <div class="top">
            <!-- Ícone de menu para expandir/recolher a barra lateral -->
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <!-- Menu da barra lateral -->
        <ul>
            <li>
                <a href="temp1">
                    <!-- Ícone do item Register -->
                    <i class='bx bxs-user'></i>
                    <!-- Texto do item -->
                    <span class="nav-item">Register</span>
                </a>
                <!-- Tooltip ao passar o mouse sobre o item -->
                <span class="tooltip">Register</span>
            </li>
            <li>
                <a href="stock_template">
                    <i class="ri-stack-fill"></i>
                    <span class="nav-item">Stock</span>
                </a>
                <span class="tooltip">Stock</span>
            </li>
            <li>
                <a href="temp2">
                    <i class="ri-shopping-cart-line"></i>
                    <span class="nav-item">Sales</span>
                </a>
                <span class="tooltip">Sales</span>
            </li>
            <li>
                <a href="graphics">
                    <i class="ri-bar-chart-fill"></i>
                    <span class="nav-item">Graphics</span>
                </a>
                <span class="tooltip">Graphics</span>
            </li>
            <li>
                <a class="active" href="payment">
                    <i class="ri-money-dollar-box-line"></i>
                    <span class="nav-item">Payment</span>
                </a>
                <span class="tooltip">Payment</span>
            </li>
            <li>
                <a href="feedback">
                    <i class="ri-chat-check-fill"></i>
                    <span class="nav-item">Feedback</span>
                </a>
                <span class="tooltip">Feedback</span>
            </li>
        </ul>
    </div>

    <!-- Conteúdo principal da página -->
    <div class="main-content background-img">
        <header>
            <!-- Logo do site, que inclui um ícone e um texto -->
            <a href="/index" class="logo">
                <!-- Ícone da casa (representando o logo) -->
                <i class="ri-exchange-line"></i>
                <!-- Texto do logo -->
                <span>StoreSync</span>
            </a>

            <!-- Seção de login/registro -->
            <div class="profile-container">
                <div class="profile-header">
                    <img src="../static/img/user.svg" alt="User Image" class="profile-image">
                    <div class="profile-info">
                        <p class="role">Manager</p>
                        <p class="name">Kemelly Silva</p>
                    </div>
                    <div class="profile-toggle" onclick="toggleMenu()">
                        <i class="ri-more-2-fill"></i> <!-- Seta do Remix Icon -->
                    </div>
                </div>
                <div class="profile-dropdown hidden">
                    <ul>
                        <li><i class="ri-user-line"></i>Account</li>
                        <li><i class="ri-settings-3-line"></i>Settings</li>
                        <li><i class="ri-logout-box-line"></i><a href="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="menu ">
            <div class="menu-box highlighted">
                <span class="menu-text"><i class="ri-cash-line"></i>Cash Flow Forecasting</span>
            </div>
            <div class="margin_auto">
                <div class="menu-item active">
                    <i class="ri-file-list-3-line icon"></i>
                    <span class="menu-text">Finance</span>
                </div>
                <div class="menu-item">
                    <i class="ri-bank-card-line icon"></i>
                    <span class="menu-text">Payments</span>
                </div>
                <div class="menu-item">
                    <i class="ri-calendar-line icon"></i>
                    <span class="menu-text">Calendar</span>
                </div>
                <div class="menu-item notification">
                    <i class="ri-notification-3-line icon"></i>
                    <span class="menu-text">Notification</span>
                </div>
            </div>
        </div>

        {% block conteudo %}
        {% endblock %}

    </div>


    <!-- Script JavaScript principal -->
    <script src="static/js/script.js"></script>
</body>

</html>