{% extends 'temp2.html' %}

{% block conteudo %}

<div class="container-extend container-sales">
    <div class="sales-registration">
        <h2><i class="ri-store-2-line"></i> Sale Found</h2>
        <div class="form-container">
            <!-- <div class="upload-section"> -->
            <!-- <div class="upload-box"> -->
            <!-- Imagem que será exibida após o upload -->
            <!-- <img id="preview-image" src="" alt="Preview Image" style="display: none;"> -->
            <!-- <label for="file-upload" class="file-label"> -->
            <!-- <i class="ri-upload-2-fill" id="upload-icon"></i> -->
            <!-- <span id="upload-text">Upload Image</span> -->
            <!-- </label> -->
            <!-- <input type="file" id="file-upload" accept="image/*" /> -->
            <!-- Botão para remover a imagem -->
            <!-- <button id="remove-image" class="remove-btn" style="display: none;">Remover Imagem</button> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="input-section"> -->
            <!-- Formulário -->
            <form id="sales-form">
                <div class="form-group">
                    <label for="id"><i class="ri-profile-line"></i> Customer ID</label>
                    <input type="text" id="id" placeholder="Enter ID" value="">
                </div>
                <div class="form-group">
                    <label for="product-name"><i class="ri-shopping-bag-2-line"></i> Product Name</label>
                    <input type="text" id="product-name" placeholder="Enter Product Name" value="">
                </div>
                <div class="form-group">
                    <label for="amount"><i class="ri-stack-line"></i> Amount</label>
                    <input type="number" id="amount" placeholder="Enter Amount" value="">
                </div>
                <div class="form-group">
                    <label for="price"><i class="ri-money-dollar-circle-line"></i> Price</label>
                    <input type="text" id="price" placeholder="Enter Price" value="">
                </div>
                <div class="form-group">
                    <label for="date"><i class="ri-calendar-line"></i> Date</label>
                    <input type="date" id="date" value="">
                </div>
                <div class="button-container-sales">
                    <div class="save-sales">
                        <button type="submit"><i class="ri-save-3-line"></i>Save</button>
                    </div>

                    <div class="edit-sales">
                        <button type="submit"><i class="ri-pencil-fill"></i>Edit</button>
                    </div>

                    <div class="delete-sales">
                        <button type="submit"><i class="ri-close-large-fill"></i>Delete</button>
                    </div>
                </div>
            </form>
            <!-- </div> -->
        </div>
    </div>
</div>

<!-- Script para manipular os botões -->
<script>
    document.addEventListener("DOMContentLoaded", function() {

        // Captura o nome da venda da URL
        const urlParams = new URLSearchParams(window.location.search);
        const customerID = urlParams.get('id');  // Obtém o nome da venda dos parâmetros da URL

        if (!customerID) {
            alert("Nenhuma venda encontrado.");
            window.location.href = '/notFoundSales';
            return;
        }

        // Fazendo a requisição à API para buscar a venda
        fetch(`/api/sales/search_id?id=${encodeURIComponent(customerID)}`)
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    const sale = data[0];  // Assume que a pesquisa retorne uma única venda
                    document.getElementById('id').value = sale.id;
                    document.getElementById('cliente').value = sale.cliente;
                    document.getElementById('produto').value = sale.produto;
                    document.getElementById('amount').value = sale.amount;
                    document.getElementById('price').value = sale.price;
                    document.getElementById('date').value = sale.date;
                } else {
                    alert("Venda não encontrada!");
                    window.location.href = '/notFoundSales';
                }
            })
            .catch(error => console.error('Erro ao buscar vendas:', error));

        //deleta venda ao clicar em "Delete"
        document.querySelector('.delete button').addEventListener('click', function(event) {
            event.preventDefault();  // Impede a submissão

            const id = document.getElementById('id').value;

            if (confirm('Tem certeza que deseja excluir esta venda?')) {
                fetch(`/api/sales/${id}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        alert('Venda excluída com sucesso!');
                        window.location.href = '/temp2';  // Redireciona
                    } else {
                        alert('Erro ao excluir vendas.');
                    }
                })
                .catch(error => console.error('Erro ao excluir venda:', error));
            }
        });

        // Habilitar os campos de edição ao clicar no botão "Edit"
        document.getElementById('editButton').addEventListener('click', function(event) {
            event.preventDefault();  // Impede a submissão
            document.querySelectorAll('#customer-form input').forEach(input => input.disabled = false);
        });

        // Atualizar venda ao clicar em "Save"
        document.getElementById('saveButton').addEventListener('click', function(event) {
            event.preventDefault();  // Impede a submissão

            // Pega os dados dos campos
            const id = document.getElementById('id').value;
            const vendaAtualizada = {
                cliente: document.getElementById('cliente').value,
                produto: document.getElementById('produto').value,
                amount: document.getElementById('amount').value,
                price: document.getElementById('price').value,
                date: document.getElementById('date').value
            };

            // Envia os dados atualizados para a API
            fetch(`/api/sales/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(vendaAtualizada)
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert('Venda atualizada com sucesso!');
                    window.location.href = '/temp2';  // Redireciona
                } else {
                    alert('Erro ao atualizar venda.');
                }
            })
            .catch(error => console.error('Erro ao atualizar venda:', error));
        });
    });
</script>

{% endblock %}