{% extends 'stock_template.html' %}

{% block conteudo %}

<div class="container-extend container-sales">

    <div class="stock-registration">

        <h2><i class="ri-stack-line"></i> Stock Registration</h2>
        <div class="form-container">
            <!-- <div class="upload-section"> -->
            <!-- <div class="upload-box"> -->
            <!-- Imagem que será exibida após o upload -->
            <!-- <img id="preview-image" src="" alt="Preview Image" style="display: none;"> -->
            <!-- <label for="file-upload" class="file-label"> -->
            <!-- <i class="ri-upload-2-fill" id="upload-icon"></i> -->
            <!-- <span id="upload-text">Upload Image</span> -->
            <!-- </label> -->
            <!-- <input type="file" id="file-upload" accept="image/*" /> -->
            <!-- Botão para remover a imagem -->
            <!-- <button id="remove-image" class="remove-btn" style="display: none;">Remover Imagem</button> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="input-section"> -->
            <!-- Formulário -->

            <form id="sales-form" form action="#" method="post">

                <!-- <div class="form-group">
                    <label for="id"><i class="ri-profile-line"></i> Customer ID</label>
                    <input type="text" id="id" placeholder="Enter ID">
                </div> -->
                <div class="form-group">
                    <label for="nome"><i class="ri-shopping-bag-2-line"></i> Product Name</label>
                    <input type="text" id="nome" name = "nome" placeholder="Enter Product Name">
                </div>
                <div class="form-group">
                    <label for="quantidade"><i class="ri-stack-line"></i> quantidade</label>
                    <input type="number" id="quantidade" name = "quantidade" placeholder="Enter quantidade">
                </div>
                <div class="form-group">
                    <label for="preco"><i class="ri-money-dollar-circle-line"></i> preco</label>
                    <input type="text" id="preco" name = "preco" placeholder="Enter preco">

                </div>
                <!-- Botão de envio dentro do formulário -->
                <div class="save-sales">
                    <button type="submit" class="save-btn"><i class="ri-save-3-line"></i> Save</button>
                </div>
            </form>
            <!-- </div> -->
        </div>
    </div>
</div>

{% endblock %}